h1, form, li {
  text-align: center;
}

li {
  margin-top: 20px;
}

.btn-container {
  margin-top: 20px;
  text-align: center;
}

button {
  margin-right: 10px;
}

#rating {
  width: 150px;
}

#list-container li {
  text-align: center;
}